@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@section Header {
        Forgot password
}
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <img src="~/Dashboard/dist/img/logo.webp" alt="Animal careLogo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <a asp-controller="Account" asp-action="Login" class="signup-image-link pt-4">Login to your account</a>
                <a asp-controller="Account" asp-action="Register" class="signup-image-link py-4">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Forgot Password</h2>

                <!-- عرض رسالة النجاح -->
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                }

                <!-- عرض الأخطاء -->
                <div asp-validation-summary="All" class="text-danger"></div>

                <form method="POST" class="register-form" id="login-form" asp-controller="Account" asp-action="SendPasswordUrl">
                    <div class="form-group">
                        <label asp-for="Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Email" placeholder="Your Email" />
                        <span asp-validation-for="Email" class="text-danger"></span> <!-- عرض الخطأ هنا -->
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Send" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
