@{
    ViewData["Title"] = "SendPasswordUrl";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@section Header {
        Message
}

<h1>Check your email</h1>
<p>We've sent you a password reset link. Please check your email and follow the instructions.</p>

<!-- زر العودة إلى تسجيل الدخول -->
<div style="margin-top: 20px;">
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Back to Login</a>
</div>
